{% extends "delivery/layout.html" %}

{% block body %}



    
<div class="bg">
    <div class="info">
        <div>Hours: 11:00 ~ 24:00 </div>
        <div>Phone: (919) 380-8568</div>
        <div>Address: 9825 Chapel Hill Rd suite g, Morrisville, NC 27560</div>   
        <a href="https://www.google.com/maps/dir//9825+Chapel+Hill+Rd+g,+Morrisville,+NC+27560/@35.8109179,-78.8194443,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x89acf21675bfa58b:0xec0d4558aa4a8ff!2m2!1d-78.8172556!2d35.8109179!3e0" style="color:white;">Get Directions</a>
    </div>
</div>

{% endblock %}